body{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    text-align: center;
    color: white;
    background: black;
    padding: 25px;
}

td, th{ border: 1px solid black;}

table{border-collapse: collapse;}

.centro{ text-align: center;}

.espaço{
    width: 300px;
    height: 300px;
}

.top{vertical-align: top;}

.meddle{vertical-align: middle;}

.bottom{vertical-align: bottom;}


.tabela{
    width: 50%;
    border-collapse: collapse;
}

.linha1{
    background-color: rgb(185, 183, 183);
}
