
a {
    text-decoration: none;
    color: blue;
    background-color: transparent;
  }
  
  a:hover,
  a:active {
    color: white;
    background-color: blue;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
  }
  